# DO NOT COMMIT THIS FILE TO GIT!

# NODE_ENV=dev
# or
# NODE_ENV=prod

# DEV_API_URL=https://dar.dev.elter-ri.eu/api/external-datasets
# DEV_AUTH_TOKEN={your-token}

# PROD_API_URL=https://dar.elter-ri.eu/api/external-datasets
# PROD_AUTH_TOKEN={your-token}
